:host{
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    color: #083361;
    margin: 0;
    border: 0;
    outline: 0;
    display: block;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}

mat-radio-button{
    padding-right: 15px;
}

#show_text{
    border-radius: 10px;
    color: #212121;
    margin-bottom: 15px;
}

#show_text>span{
    padding-right: 15px;
}

.picker_container{
    display: flex;
    margin-top: 25px;
}

.picker_container_sub{
    margin: auto;
}