<!--<header id="header_page">
    <div><strong>LOGO CUSTOM</strong></div>
</header>-->

<div id="block_header_logo">
    <header id="header_logo"></header>
</div>


<app-custom-tool [colorLetters]="colorLetters" [colorLogo]="colorLogo"
    [colorBg]="colorBg" [hideLogo]="hideLogo" [logo]="logo"></app-custom-tool>

<div id="button_container">
    <div>
        <button mat-raised-button (click)='saveSvgasPng()'>Download as PNG <mat-icon>arrow_downward</mat-icon></button>
        <button mat-raised-button (click)='saveSvg()'>Download as SVG <mat-icon>arrow_downward</mat-icon></button>
    </div>
</div>

<div class="row">
    <div>
        <a href="#" class="mini-box">
            <i><img src="./assets/images/work-process-item-01.png" alt=""></i>
            <strong>Couleurs</strong>
        </a>
    </div>
    <div>
        <a href="#" class="mini-box active">
            <i><img src="./assets/images/work-process-item-01.png" alt=""></i>
            <strong>Logo</strong>
        </a>
    </div>
    <div>
        <a href="#" class="mini-box">
            <i><img src="./assets/images/work-process-item-01.png" alt=""></i>
            <strong>Background</strong>
        </a>
    </div>
    <div>
        <a href="#" class="mini-box">
            <i><img src="./assets/images/work-process-item-01.png" alt=""></i>
            <strong>Texte</strong>
        </a>
    </div>
    <div>
        <a href="#" class="mini-box">
            <i><img src="./assets/images/work-process-item-01.png" alt=""></i>
            <strong>Visible/Caché</strong>
        </a>
    </div>

    <div>
        <a href="#" class="mini-box">
            <i><img src="./assets/images/work-process-item-01.png" alt=""></i>
            <strong>Export</strong>
        </a>
    </div>
</div>


<div class="p40">
    <div id="rating_section">
        <div>
            <h2 id="rating_review">Avis</h2>
            <img id="rating" src="./assets/images/rating.png" alt="rating">
        </div>
        <div id="rating_description">
            <p>C'est notre projet Logo custom !</p>
        </div>
        <div id="rating_author">
            <p>Emmanuel</p>
        </div>
    </div>
</div>

<app-carousel-block [carouselImgs]="carouselImgs"></app-carousel-block>

<app-title-header>Logo custom</app-title-header>

<div id="project_description">
    <div id="project_description_left">
        <img id="project_description_img" src="./assets/images/logo_custom2.png" alt="">
    </div>

    <div id="project_description_right">
        <div id="block_description_lc">
            <h2>Logo Custom</h2>
            <p>Logo custom est une application web permettant à n'importe qui de pouvoir
                modifier un logo par défaut par différente manière.</p> <br>
            <span class="span-round">Modifications des couleurs</span>
            <span class="span-round">Choix du logo</span>
            <span class="span-round">Choix du background</span>
            <span class="span-round">Modification des positions</span>
        </div>
    </div>
</div>

<footer>
    <div id="footer-block">
        <img id="logo_footer" src="./assets/images/logo_ideta.png">
        <div class="footer_sub_div">
            <div id="free_block">
                <span>APPLICATION WEB GRATUITE</span>
            </div>
        </div>
        <div>Current Version 0.0.1</div>
        <div class="footer_sub_div">
            <p class="footer-p">Project IDETA</p>
            <p class="footer-p">Logo custom</p>
        </div>
    </div>
</footer>

<router-outlet></router-outlet>