html, body {
    overflow-x: hidden;
     height: 100%; 
    }
body { 
    overflow-x: hidden;
     margin: unset;
     font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
     font-size: 1.6rem;
 }
